.message-box{
    max-height: 12vh;
    min-height: 12vh;
    min-width: 100vw;
    background-color: #fff;
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

.chat-box{
    float: left;
    min-width: 85%;
}

.chat-action{
    float: right;
    height: 12vh;  
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 10%;
}

.chat-input{
    position: absolute;
    width: 85%;
    background-color: #fff;
}

.action-buttons{
    height: 4vh;
    min-width: 4vw;
}

.action-buttons{
    margin-left: 1vw;
    margin-right: 2vw;
}

.msg-textarea{
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
    border: none;
    font-size: 1em;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    font: inherit;
    height: 9vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}