.message-box {
  max-height: 50px;
  min-height: 50px;
  min-width: 98vw;
  background-color: #fff;
  border-radius: 100px;
  border: 0.5px solid #78909c;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 10px;
  box-shadow: 0 4px 7px -2px #78909c;
}

.chat-box {
  float: left;
  width: 80vw;
  text-align: center;
  height: 50px;
  justify-content: right;
  align-items: center;
  display: flex;
  padding-left: 4vw;
}

.chat-action {
  float: right;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  padding-right: 4vw;
}

.chat-input {
  position: absolute;
  width: 90%;
  background-color: #fff;
}

.action-button {
  height: 25px;
  width: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.action-buttons {
  height: 25px;
  width: 25px;
}

.msg-textarea {
  width: 100%;
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  font-size: 1em;
  padding-top: 5px;
  white-space: pre-wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.emoji-picker {
  position: fixed;
  bottom: 12vh;
  right: 2vw;
}
