.details-container {
  min-height: 90vh;
  min-width: 100%;
}

.floating-card {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 55%;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  backdrop-filter: blur(10px);
  min-height: 300px;
}

.details-action {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 15%;
  right: 15%;
  bottom: 5%;
}

.details-title {
  text-align: center;
  margin-bottom: 5vh;
  text-transform: capitalize;
}

.mdc-text-field-helper-line {
  justify-content: center;
}
