.room {
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  user-select: none;
  overflow-x: hidden;
  position: relative;
}

.floating-chatBox {
  position: absolute;
  bottom: 0;
}

.room .page-header {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 45px;
}

.room .header-details{
  height: 45px !important;
}

.room .hostname{
  min-height: 45px !important;
}