.page-header{
    min-height: 45px;
    max-height: 8vh;
    min-width: 100vw;
    background-color: #fff;
    position: relative;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,.2);
    -moz-box-shadow:0px 0px 20px 2px rgba(0,0,0,.2);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,.2);
}

.back-button{
    float: left;
    margin-left: 4px;
    margin-top: 5px;
    min-height: 30px;
    max-height: 5vh;
    width: 6vw;
    padding-left: 5px;
}

.header-details{
    float: left;
    width: 80vw;
    min-height: 40px;
    max-height: 6vh; 
    display: flex;
    justify-content: left;
    align-items: center;
}