.container {
  bottom: 0;
}

.bubbleContainer {
  width: "100%";
  display: "flex";
}

.bubble {
  border: "0.5px solid black";
  border-radius: "10px";
  margin: "5px";
  padding: "10px";
  display: "inline-block";
}
